$primary-color: "#0065F2"

.MainPage
    padding: 1rem

    .Menu
        margin: auto
        margin-left: 0
        width: max-content
    .Calculator
        width: auto
        justify-content: start
        padding: 0
        margin: 0
        .CalculatorInputRows
            margin: 0
            padding: 0
            height: 4rem

            .EqualSign
                margin: 0
                margin-inline: .5rem
                padding: 0
            .CalculatorInput
                margin: 0
                width: 8rem
                height: 3rem
        .ResultBox
            width: 12rem
            padding: .8rem
            border-radius: .5rem
            border: "4px",
            .Result
                margin: 0
        .RunButton
            margin-top: .5rem
            width: 8rem
            height: 3rem
